.chagepw_wrapper {
  position: relative;
  background-position: center;
  display: flex;
  z-index: 1;
  color: black;
  border: 2px solid red;
  border-radius: 20px;
  margin: 50px 200px;
}
.chagepw_content {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.changepw_head_wrapper {
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
}
.changepw_head {
  position: relative;
  width: 100%;
  min-height: 1px;
  background-color: red;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.changepw_title {
  color: #fff;
  font-size: 30px;
}
.changepw_body_wrapper {
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
}

.changepw_column_wrapper {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 20px;
}
.changepw_column {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
@media (min-width: 992px) {
  .changepw_column {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 20px;
  }
}
.username {
  width: 100%;
  border: 2px solid #ccc;
  font-size: 15px !important;
  color: black;
  padding: 10px;
  margin: 10px 0 0;
  line-height: 2;
  background-color: #fff;
  background-image: none;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  display: block;
  height: 50px;
  /* transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; */
}

.changepw_rows_wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.changepw_row_wrapper {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.changepw_button {
  border-radius: 10px;
  width: 100%;
  margin: 25px;
  padding: 10px 10px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  background-color: red;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
}
