.fer_wrapper {
  position: relative;
  background-position: center;
  display: flex;
  z-index: 1;
  color: black;
  border: 2px solid red;
  border-radius: 20px;
  margin: 50px 200px;
}
.fer_content {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.fer_head_wrapper {
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
}
.fer_head {
  position: relative;
  width: 100%;
  min-height: 1px;
  background-color: red;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fer_title {
  color: #fff;
  font-size: 30px;
}
.fer_body_wrapper {
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.fer_column_wrapper {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 30px;
}

@media (min-width: 992px) {
  .fer_column {
    width: 100%;
    max-width: 50%;
    padding: 10px;
  }
}

@media (min-width: 992px) {
  .fer_result {
    padding-left: 20px;
  }
}

.filter {
  width: 100%;
  border: 2px solid #ccc;
  font-size: 15px !important;
  padding: 10px;
  /* margin: 10px 0 0; */
  line-height: 2;
  background-color: #fff;
  background-image: none;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  display: block;
  height: 50px;
}
.date {
  width: 80%;
  border: 2px solid #ccc;
  font-size: 15px !important;
  padding: 10px;
  margin-top: 10px;
  line-height: 2;
  background-color: #fff;
  background-image: none;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  display: block;
  height: 40px;
  /* transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; */
}
.page {
  width: 100%;
  border: 2px solid #ccc;
  font-size: 15px !important;
  padding: 0px 10px 0px 10px;
  line-height: 1;
  background-color: #fff;
  background-image: none;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  display: flex;
}
.fer_row_box_wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.fer_button_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 50%;
}
.fer_button {
  border-radius: 10px;
  width: 50%;
  height: 30%;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  background-color: red;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
}
.fer_row_wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 50px 20px 20px 20px;
}
.styled-table {
  border-collapse: collapse;
  font-size: 1em;
  font-family: sans-serif;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: 0px 20px 20px 20px;
}
.styled-table thead tr {
  background-color: red;
  color: #ffffff;
  text-align: center;
}
.styled-table th,
.styled-table td {
  padding: 15px 15px;
  text-align: center;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid red;
}
